[Unit]
Description=web socket server
After=network-online.target mysql.service

[Service]
User=edr
Type=simple
ExecStart=/usr/bin/php /var/include/vhosts/default/inc/push_server/server.php

[Install]
WantedBy=multi-user.target
